*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-image: linear-gradient(45deg, #a8d7f6, #298ab0, #f7fcff, #eda3c9); 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    max-width: 100%;
    max-height: 100%;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    min-height: 34rem;    
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('patinhas.jpg');
    width: 100%;
    padding: 1.3rem 0;
    margin-top: 8px;
    border: 4px solid #a8d7f6, #298ab0, #f7fcff, #eda3c9;
    -webkit-box-shadow: inset 0 0 20px #298ab0;
    -moz-box-shadow: inset 0 0 20px #f7fcff;
    -ms-box-shadow: inset 0 0 20px #a8d7f6;
        box-shadow: inset 0 0 20px #eda3c9;
}

.group:nth-child(1) {
    min-height: 19rem;
    padding-top: 40px;
}

.instagram-logo {
    min-height: 3rem;
    margin-bottom: 10px;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 10rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
}

.instagram-logout {
    background-color: #ffffff;
    color: #0095f6;
    margin-top: 1rem;
    border-radius: 4px;
    padding: 4px;
    
}

.not-account {
    color: #000
}

.link-blue {
    background-color: #0095f6;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px;
    margin-top: 10px


}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.9rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: contain;
}

.app-download:nth-child(1) {
    background-image: url('./botao-appstore.png');
}

.app-download:nth-child(2) {
    background-image: url('./botao-playstore.png');
}

@media(max-width:1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width: 650px) {
    .body {
        background-color: #ffffffff;
    }
    
    .instagram-wrapper {
        width: 90%;
    }
    
    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 65%;
    }

    .group {
        border: 1px solid transparent;
    }
}

